@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    background-color: #ffe;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 3em;
    color: rgb(173, 55, 144);
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.8em;
    color: #231f20;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 6s steps(100, end) forwards;
}

/* Hiệu ứng đánh chữ */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Hiệu ứng cây trái tim */
#wrap {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: 80px;
}

#text {
    width: 500px;
    height: 425px;
    left: 10px;
    top: 10px;
    font-size: 12px;
    position: absolute;
}

#message {
    margin: auto;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    margin-left: 250px;
    height: 680px;
}

/* Hiệu ứng mờ dần */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}